<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:scr="@{webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:scr="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Dish name: </td>
                    <td>Price: </td>
                    <td></td>
                </tr>
            </thead>
                <tbody th:each="menu : ${AllMenu}">
                    <tr>
                        <td th:text="${menu.dish}"></td>
                        <td th:text="${menu.price}"></td>
                        <td><a th:href="${'/view?id='+menu.id}">View</a></td>
                        <td><a th:href="${'/delete/'+menu.id}">Delete</a></td>
                    </tr>
                </tbody>
        </table>
    </div>
</body>
</html>